*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
h1{
    margin: 10px;
    text-align: center;
}
ul{
    padding-left: 10px;
    justify-content: space-evenly;
}
li{
    display: inline-flex;
    justify-content: center;
}
button,
.card-button{
    padding: 5px 10px;
    display: inline-block;
    margin: 2px;
    background: rgba(239, 209, 201, 0.896);
    border: none;
    border-radius: 6px;
    color: rgb(58, 33, 3);
    transition:250ms ease;
    z-index: 0;
}
.card-button:hover{
    transform: scale(1.08);
    box-shadow: 2px 2px 2px 2px rgba(39, 37, 37, 0.568);
}

/* search and search results */

.search-result-items{
background: rgba(17, 105, 17, 0.418) ;
}
#search-bar{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 5%;
    top: 5%;
    z-index: 3;
    background: rgba(2, 125, 131, 0.297);
    border-radius: 3px;
    padding: 4px;
    box-shadow: 12px 12px 2px 1px rgba(9, 2, 107, 0.2);
}
#sub{
    background: rgb(222, 230, 66);
}
#search-display{
display: flex;
flex-direction: column;
}
.error-alert{
position: absolute;
right: 30%;
top:45%;
z-index: 4;
}
.loading-alert{
position: absolute;
right: 48%;
top:45%;
z-index: 4;
}
/* for displaying additional info on the pokemon */
.glass{
    position: absolute;
    background: white;
    border: 1px solid black;
    height: 40%;
    width: 50%;
    border-radius: 12px;
    overflow-x: scroll;
    overflow-y: hidden;
    right: 25%;
    top: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.glass-list{
    display: flex;
    flex-direction: column;
}

.exitGlass{
    position: absolute;
    right: 10px;
    top: 10px;
    background: red;
}
.types-list{
        width: 20%;
}
/* everything looks good right now on the various platforms that I've tried. I will add code bellow as needed */
@media all and (max-width: 500px){
    #search-bar{
        margin-top:4%;
        left: 5%;
        margin-bottom: 4%;
    }
    .pokemon-list{
        margin-top: 4%;
        margin-bottom: 4%;
    }
}
@media all and (min-width: 500px) and (max-width: 750px){
    #search-bar{
        margin-top:4%;
        margin-bottom: 4%;
    }
    .pokemon-list{
        margin-top: 4%;
        margin-bottom: 4%;
    }
}
@media all and (max-width: 750px){

}